section {
    padding: $tamanho-padrao-espaco 0;
  
    &:first-child {
      padding-top: 0;
    }
  
    .container {
      h2 {
        font-size: 2.25rem;
        font-weight: bold;
        color: $cor-azul-escuro;
        margin-bottom: $tamanho-padrao-espaco;
      }
  
      .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1%;
        margin-top: $tamanho-padrao-espaco;
  
        .product-item {
          border: $tamanho-padrao-borda solid $cor-cinza-escuro;
          border-radius: $tamanho-padrao-borda;
          overflow: hidden;
  
          img {
            width: 100%;
            height: auto;
          }
  
          h4 {
            font-size: 1.25rem;
            font-weight: bold;
            color: $cor-azul-escuro;
            margin-top: $tamanho-padrao-espaco;
            padding: 0 $tamanho-padrao-espaco;
          }
        }
      }
    }
}