$cor-azul-escuro: #182c61;
$cor-azul-claro: #63a3e0;
$cor-branco: #ffffff;
$cor-cinza-claro: #f5f5f5;
$cor-cinza-escuro: #333333;

$fonte-principal: 'Roboto', sans-serif;

$tamanho-padrao-borda: 1px;
$tamanho-padrao-espaco: 1rem;